.parent {
    display: grid;
    grid-template: auto 5fr auto / auto 5fr auto;
  }
  
  header {
    padding: 2rem;
    grid-column: 1/6;
  }
  
  .left-side {
    padding: 1rem;
    grid-column: 1/2;
  }
  
  main {
    padding: 1rem;
    grid-column: 2/5;
  }
  
  .right-side {
    padding: 1rem;
    grid-column: 5/6;
  }
  
  footer {
    padding: 2rem;
    grid-column: 1/6;
  }
  