<div>
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                Events
                </h1>
                <h2 class="subtitle">
                    <p>Check out all these events. Wow!</p>
                </h2>
            </div>
        </div>
    </section>
      <div class="hero has-text-centered is-primary">
          <div class="hero-body">
            <h1 class="title has-text-centered">Event One</h1>
          </div>
          <div class="hero-body">
            <h2 class="subtitle">This is the first event!</h2>
            <h3 class="description">This is the description of the first event.</h3>
          </div>
          <div class="hero-footer">
              <p>this is the footer of the first event.</p>
          </div>
      </div>
</div>

