<div>
  <nav class="navbar toolbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/tilted.png">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="dashboard">
          <p>Dashboard</p>
        </a>
        <a class="navbar-item" routerLink="event">
          <p>Events</p>
        </a>
        <a class="navbar-item" routerLink="notfound">
          <p>Log In</p>
        </a>
      </div>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>